<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API</title>
    <script src="./../base.js?"></script>
</head>
<body>
<template id="app">
    <div style="padding: 8px;">

    </div>
</template>
<script>
    injectIviewCore(function () {
        console.log('load');
        new Vue({
            el: '#app',
            data: {
                visible: false
            },
            methods: {
                show: function () {
                    this.visible = true;
                }
            }
        })
    });
</script>
</body>
</html>